scripts/wandb/
scripts/jobs/
__pycache__/
*.pyc
.DS_Store
context/
data/MachineLearning.zip
data/MachineLearning/
data/MachineLearning_corrected/
data/corrected_data/
data/__MACOSX/
results/**/prepared/**/*.csv
results/**/checkpoints/
results/**/*.pt
